.card_section{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 10px;
    border-top: 2px solid var(--social-background);
    justify-content: space-around;
    align-items: space-between;
    padding: 10px;
    gap: 20px;
}
.card{
    display: flex;
    width: 45%;
    height: auto;
    border: 2px solid black;
    background-color: white;
    filter: grayscale(100%);
}
.card-image{
    width: 50%;
    height: 100%;
}
.card-fuctions{
    width: 50%;
    height: 100%;
    padding: 30px 15px 10px 15px;
}
.card-link{
    font-size: 1.10rem;
    list-style: none;
    background-color: var(--background-1);
    border-radius: 14px;
    padding: 7px;
    color: inherit;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card-fuctions-texto {
    height: auto;
    font-size: 0.80rem;
}
.card-fuctions-options{
    display: flex;
    height: auto;
    margin: 30px 0px;
}
.card-fuctions-texto h1{
    margin: 10px 0px;
}
.card-fuctions-texto p{
    color: var(--card-text);
    text-align: justify;
    
    /* 
    ESTO LIMITA LAS LINEAS
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}
.card-fuctions-options-pay{
    width: 60%;
}
.card-fuctions-options-colors{
    width: 40%;
}
.precio{
    color: black;
    font-size: 1.25rem;
}
.card-fuctions-options-pay .discount{
    color: var(--discount);
    font-size: 1rem;
    text-decoration: line-through;
}
.link-pay{
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.20rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-fuctions-options-colors{
    display: flex;
    justify-content: space-evenly;
}
.card-fuctions-options-colors-picker{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-fuctions-options-colors-picker:nth-child(1){
    background-color: var(--discount);
}
.card-fuctions-options-colors-picker:nth-child(2){
    background-color: var(--secondary);
}
.card-fuctions-options-colors-picker:nth-child(3){
    background-color: black;
}
/*HOVER*/
.card-link:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: var(--background-2);
}
.card:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.712);
    filter: grayscale(0%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.link-pay:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
.card-fuctions-options-colors-picker:hover {
    transform: scale(1.2); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*focus*/
.card-fuctions-options-colors-picker:focus{
    border: 2px solid black;
    transition: all 2s;
}

@media (min-width: 1920px) {
    .card-fuctions{
        padding: 30px;
    }
    .card-fuctions-texto {
        font-size: 1.40rem;
    }
    .card-fuctions-options-colors-picker{
        height: 35px;
    }
    .card-link{
        font-size: 1.500rem;
        padding: 8px;
        border-radius: 15px;
    }
    .card-fuctions-texto h1{
        margin: 20px 0px;
    }
    .precio{
        font-size: 1.80rem;
    }
    .card-fuctions-options-pay .discount{
        font-size: 1.25rem;
    }
    .link-pay{
        margin-top: 15px;
        padding: 12px;
        border-radius: 8px;
        font-size: 2rem;
    }
}
@media (max-width: 960px){
    .card{
        width: 80%;
    }
    .card_section{
        margin-top: 70px;
    }
    .card-fuctions-options-colors{
        padding: 0 30px;
    }
    .card-fuctions-options-colors-picker{
        width: 25px;
        height: 25px;
}
}
@media (max-width: 680px){
    .card {
        display: flex;
        flex-direction: column; 
        width: 95%; 
    }
    .card-image {
        width: 100%; 
        height: auto; 
    }
    .card-link{
        display: flex;
        justify-content: center; 
        align-items: center;
        height: 30px; 
        padding: 18px;
        border-radius: 34px;
    }
    .card-fuctions {
        width: 100%; 
        padding: 15px; 
    }
    .card-fuctions-texto {
        font-size: 1rem;
        display: flex;
        justify-content: center; 
        flex-direction: column; 
    }
    .card-fuctions-texto-titulos{
        display: flex;
        align-items: center;
        flex-direction: row; 
        justify-content: space-between; 
    }
    .card-fuctions-texto h1{
        order: 1;
    }
    .card-fuctions-texto a{
        order: 2;
    }
    
}
