body {
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
.contacto {
    width: 95%;
    padding: 20px;
    margin: auto;
}
.titulo {
    margin-top: 70px;
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-top: 1px solid var(--social-background);
    border-bottom: 1px solid var(--social-background);
    padding: 20px;
    margin: 3px 0 10px 0;
}
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}
.info {
    width: 40%;
}
.info h2 {
    font-size: 2.2rem;
    font-weight: bold;
}
.info h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}
.info p{
    font-size: 1.3rem;
    margin: 4px 0px;
}

.formulario {
    width: 50%;
    padding: 20px;
}
.formulario input,
.formulario select,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
}
.formulario textarea {
    height: 100px;
}
.checkboxorden{
    display: flex;
    justify-content: flex-start;
}
.checkbox {
    display: flex;
    align-items: start;
    gap: 5px;
}
.checkbox a {
    font-weight: bold;
    color: var(--header);
}
button {
    width: 100%;
    padding: 10px;
    background: var(--header);
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
}
.formulario input:invalid,
.formulario select:invalid,
.formulario textarea:invalid {
    background-color: #f8d7da; 
    border-color: red;
}
.formulario input:invalid::placeholder,
.formulario select:invalid::placeholder,
.formulario textarea:invalid::placeholder {
    color: red;
}
.formulario input:valid,
.formulario select:valid,
.formulario textarea:valid {
    background-color: white;
    border-color: var(--header);
}
.circle-container {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, #a06a38, #705d47);
    border-radius: 50%;
    border: 4px solid var(--header);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.logo-circulo {
    width: 80px;
    position: absolute;
}

.social-icon {
    width: 40px;
    height: 40px;
    position: absolute;
}
.twitterL, .whatsappL, .telegramL,.facebookL, .instagramL{
    height: 30px;
    width: 30px;
}
.twitterL { top: 10px; left: 85px; }
.instagramL { top: 55px; right: 15px; }
.whatsappL { left: 12px; top: 55px; }
.telegramL { bottom: 20px; left: 45px; }
.facebookL { right: 40px; bottom: 22px; }
.logo-circulo, .twitterL, .instagramL, .whatsappL, .telegramL, .facebookL{
    transition: transform 0.5s ease-in-out;
}
.logo-circulo:hover, .twitterL:hover, .instagramL:hover, .whatsappL:hover, .telegramL:hover, .facebookL:hover{
    transform: rotate(360deg);
}

@media (max-width: 960px){
    .contacto{
        padding-top: 70px; /* Un poco chapuza pero me estaba colpasando */
    }
    .contenido{
        flex-direction: column;
    }
    .formulario{
        width: 100%;
        order: 1;
    }
    .info{
        order: 2;
    }
    .info, .contenido{
        width: 100%;
    }
    .titulo {
        text-align: center;
        font-size: 3rem;
        font-style: italic;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        border-top: 1px solid var(--social-background);
        border-bottom: 1px solid var(--social-background);
        padding: 20px;
        margin: 3px 0 5px 0;
    }
}