.contactos-section{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.titulo-contacto{
    display: block;
    width: 80%;
    color: #302f2f;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-top: 2px solid var(--social-background);
    border-bottom: 2px solid var(--social-background);
    text-align: center;
}
.apartado.contacto{
    width: 80%;
}
.dudas, .formulario{
    width: 40%;
}
.formulario{
    display: flex;
}