.footer-main {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: var(--primary);
    border-top: 2px solid var(--secondary);
}
.footer-sections{
    display: block;
    width: 15%;
    height: 80%;

}
.footer-sections h4{
    font-size: 1.20rem;
    color: white;
    border-bottom: 3px solid var(--secondary);
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.footer-link{
    color: white;
    display: block;
    width: 100%;
    text-decoration: none;
    margin-top: 5px;
    font-size: 1rem;
}
.footer-social{
    background-color: var(--social-background);
    padding: 7px;
    border-radius: 50%;
    color: white;
}
.footer-link:hover{
    transform: scale(1.20);
}
.insta:hover{
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
}
.facebook:hover{
    background-color: #3b5998;
}
.twitter:hover{
    background-color: #00acee;
}
.linkedin:hover{
    background-color: #0e76a8;
}
@media (max-width: 960px){
    .footer-main{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .footer-sections{
        width: 80%;
        margin: 10px;
        text-align: center;
    }
    .footer-link{
        font-size: 1.10rem;
    }
    .footer-sections h4{
        font-size: 1.20rem;
    }
}
@media (max-width: 680px){

}